.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vh 5vw;
}

.vector_container {
  display: flex;
  flex-direction: column;
}

.welcome {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
}

.vector {
  fill: rgb(0, 0, 0);
  stroke-width: 3;
  stroke: rgb(0, 0, 0);
  width: 40px;
  height: 3px;
}

.vectSvg {
  position: relative;
  top: 0;
  width: 30px;
  height: 3px;
}

.vect2 {
  position: relative;
  top: -10px;
}

.vect3 {
  position: relative;
  top: -20px;
}

.vector:hover {
  fill: rgb(55, 12, 224);
  stroke-width: 1;
  stroke: rgb(55, 12, 224);
}

.page1Container {
  display: flex;
  flex-direction: column;
  align-items: space-around;
  margin: 0 0 0 0;
  padding: 0;
}

.pageSection {
  width: 60vw;
  flex: 1;
}

.pageSection h1 {
  text-align: center;
}

.stText {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  font-family: 'Inter', sans-serif;
}

.ndText {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: green;
  font-family: 'Inter', sans-serif;
}

.text {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
}

.mainSection {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("header-illsutration-mobile.png");
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  margin: 0;
  padding: 0;
}

.socialMedia {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

a {
  text-decoration: none;
}

.gridContainer,
.gridContainerAM {
  display: grid;
  gap: 10px;
  padding: 10px;
  grid-template-rows: auto;
}

.workTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  gap: 24px;
}

#h1WorkTitle {
  width: 327px;
  height: 97px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #172b4d;
}

.langContainer,
.langList {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  width: 327px;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 8px;
}

.lang {
  background-color: #ebf0ee;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 3em;
  color: #3a4a42;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 6px;
  border-radius: 4px;
  letter-spacing: 0.03em;
}

.cardContainer,
.cardAM {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 12px;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
}

.projectTitle {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  width: 60vw;
  align-items: center;
  text-align: center;
}

.seeBtn {
  background: #36b37f;
  border-radius: 4px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  color: #fff;
  line-height: 24px;
}

.seeBtn:hover {
  cursor: pointer;
  background: #5fdfaa;
}

.h1aboutMe {
  height: 48px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
}

.p_aboutMe {
  width: 351px;
  height: 189px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
}

.aboutMeBtn {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #fff;
}

.aboutMeBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("images/aboutMeBckgrnd1.svg"), url("images/aboutMeBckgrnd2.svg");
  background-repeat: no-repeat;
  background-position: left bottom, right top;
}

#aboutMeimg {
  float: right;
}

.gridContainerAM {
  display: grid;
}

.cardAM {
  background: #ebf0ee;
  border: 1px solid #c1c7d0;
  border-radius: 8px;
  width: 327px;
  height: 352px;
}

.langName {
  background: #fff;
  border-radius: 8px;
  color: #36b37e;
}

.langList {
  flex-wrap: wrap;
  justify-content: center;
  width: 327px;
}

.aboutMeCardCont {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cardAMTitle {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #344563;
}
