.header {
  display: flex;
  justify-content: space-between;
  padding: 2vh 5vw ;
}

.vector_container {
  display: flex;
  flex-direction: column;
}

.welcome {
  font-size: 30px;
}

.vector {
  fill:rgb(0,0,0);
  stroke-width:1;
  stroke:rgb(0,0,0)
}