.header {
  display: flex;
  justify-content: space-between;
  padding: 2vh 5vw;
}

.vector_container {
  display: flex;
  flex-direction: column;
}

.welcome {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
}

.vector {
  fill: rgb(0, 0, 0);
  stroke-width: 3;
  stroke: rgb(0, 0, 0);
  width: 40px;
  height: 3px;
}

.vectSvg {
  position: relative;
  top: 0;
  width: 30px;
  height: 3px;
}

.vect2 {
  position: relative;
  top: -10px;
}

.vect3 {
  position: relative;
  top: -20px;
}

.vector:hover {
  fill: rgb(55, 12, 224);
  stroke-width: 1;
  stroke: rgb(55, 12, 224);
}

.page1Container {
  display: flex;
  flex-direction: column;
  align-items: space-around;
  margin: 0 0 0 0;
  padding: 0;
}

.pageSection {
  width: 60vw;
  flex: 1;
}

.pageSection h1 {
  text-align: center;
}

.stText {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  font-family: 'Inter', sans-serif;
}

.♥ {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: green;
  font-family: 'Inter', sans-serif;
}

.text {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
}

.mainSection {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("header-illsutration-mobile.png");
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  margin: 0;
  padding: 0;
}

.socialMedia {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.footer_socialMedia {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

a {
  text-decoration: none;
}

.imgPlaceholder {
  height: 474px;
}

.gridContainer,
.gridContainerAM {
  display: grid;
  gap: 10px;
  padding: 10px;
  grid-template-rows: auto;
}

.workTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  gap: 24px;
}

#h1WorkTitle {
  width: 327px;
  height: 97px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #172b4d;
}

.langContainer,
.langList {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  width: 327px;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 8px;
}

.lang {
  background-color: #ebf0ee;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 3em;
  color: #3a4a42;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 6px;
  border-radius: 4px;
  letter-spacing: 0.03em;
}

.cardContainer,
.cardAM {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 12px;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
}

.projectTitle {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  width: 60vw;
  align-items: center;
  text-align: center;
}

.seeBtn {
  background: #36b37f;
  border-radius: 4px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  color: #fff;
  line-height: 24px;
  border: none;
  padding: 12px;
  gap: 10px;
}

.seeBtn:hover {
  cursor: pointer;
  background: #5fdfaa;
}

.h1aboutMe {
  height: 48px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
}

.p_aboutMe {
  flex: 1;
  width: 351px;
  height: 189px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
}

.aboutMeBtn {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #fff;
}

.aboutMeBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("images/aboutMeBckgrnd1.svg"), url("images/aboutMeBckgrnd2.svg");
  background-repeat: no-repeat;
  background-position: left bottom, right top;
}

#aboutMeimg {
  float: right;
}

.gridContainerAM {
  display: grid;
}

.cardAM {
  background: #ebf0ee;
  border: 1px solid #c1c7d0;
  border-radius: 8px;
  width: 327px;
  height: 352px;
}

.langName {
  background: #fff;
  border-radius: 8px;
  color: #36b37e;
}

.langList {
  flex-wrap: wrap;
  justify-content: center;
  width: 327px;
}

.aboutMeCardCont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cardAMTitle {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #344563;
}

.contact_footer {
  display: flex;
  flex-direction: column;
  background-image: url(images/illustration-contact-form.svg);
  background-repeat: no-repeat;
  background-position: right bottom;
}

.contact_form {
  display: flex;
  flex-direction: column;
}

.cf_text {
  width: 327px;
  height: 363px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
}

.ul_text {
  list-style: none;
}

.li_text {
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 10px;
  box-sizing: border-box;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #fff;
  border: 1px solid #d0d9d4;
  border-radius: 4px;
}

.input_text {
  flex: 1;
  border: none;
  border-style: none;
}

.li_textarea {
  box-sizing: border-box;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  border: 1px solid #60c095;
  border-radius: 1px;
  flex: 1;
  height: 100%;
  display: flex;
  padding: 0;
}

.li_btn {
  border: none;
  border-style: none;
  justify-content: center;
}

.cf_socialMedia {
  align-self: center;
  justify-content: space-around;
  width: 170px;
}

/* desktop design */

.desktop_menu {
  visibility: hidden;
}

@media screen and (min-width: 768px) {
  .mainSection {
    background-image: none;
    justify-content: center;
    align-items: center;
  }

  .page1Container {
    background-image: url("images/Header-llustration-desktop.svg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 255px;
  }

  .welcome,
  .vector_container {
    display: none;
    visibility: hidden;
  }

  .desktop_menu {
    visibility: visible;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    text-align: center;
    color: #344563;
    flex: 1;
  }

  .stText,
  .ndText {
    font-family: 'Inter', sans-serif;
    font-style: bold;
    font-weight: 800;
    font-size: 48px;
    line-height: 125%;
    box-sizing: border-box;
    text-align: center;
    letter-spacing: 0.37px;
    color: #172b4d;
    padding: 0;
    margin: 0;
  }

  .ndText {
    color: green;
  }

  .titleText {
    flex-grow: 0;
    margin-top: 140px;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
  }

  .text {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    color: #172b4d;
    padding-right: 16.5%;
    padding-left: 16.5%;
    margin-bottom: 0;
  }

  .socialMedia {
    position: relative;
    top: -40%;
    justify-content: center;
    flex: 0;
  }

  .socialMedia :nth-child(4) {
    order: 1;
  }

  .socialMedia :nth-child(2) {
    order: 2;
  }

  .socialMedia :nth-child(5) {
    order: 3;
  }

  .socialMedia :nth-child(1) {
    order: 4;
  }

  .socialMedia :nth-child(3) {
    order: 5;
  }

  .smIcon {
    margin: 20px;
  }

  .nextPageIcon {
    position: relative;
    top: -40%;
  }
}
